## MySQL
MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_DATABASE=jellyfish
MYSQL_USER=jellyfish
MYSQL_PASSWORD=change-me
MYSQL_PORT=3307

## Redis
REDIS_PORT=6379
REDIS_DB=0

## RustFS / S3 compatible object storage
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
S3_BUCKET_NAME=jellyfish-assets
RUSTFS_PORT=9000
RUSTFS_CONSOLE_PORT=9001
